@import url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");

* {
  font-family: "Archivo", sans-serif;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
